<div class="cover-container d-flex w-100">
  <div class="row justify-content-center w-100">
    <main role="main" class="cover pr-3 pl-3">
      <h1 class="cover-heading">Homebridge Google Smart Home Plugin *FORK*</h1>
      <p class="lead">
        Allow <a href="https://assistant.google.com/" target="_blank">Google Assistant</a> to control your
        <a href="https://homebridge.io" target="_blank">Homebridge</a> accessories.<br>
        <a routerLink="/about" class="btn btn-lg btn-dark">More Details</a><br><br><br>
      </p>
      <p class="lead">
       This plugin has been originally developed by oznu.<br>
       This is a fork by Philip D. (btk999) for a private instance with a private google action that is not published.<br>
        <a href="https://github.com/oznu/homebridge-gsh" class="btn btn-lg btn-dark"><i class="fab fa-github"></i>
          GitHub oznu</a>&nbsp;
	<a href="https://github.com/btk999/homebridge-gsh" class="btn btn-lg btn-dark"><i class="fab fa-github"></i>
          GitHub btk999</a>&nbsp;<br><br><br>
        The Plugin uses Auth0 for identity provisioning.<br>
          <a width="150" height="50" href="https://auth0.com/?utm_source=oss&utm_medium=gp&utm_campaign=oss"
            target="_blank" alt="Single Sign On & Token Based Authentication - Auth0"><img width="150" height="50"
              alt="JWT Auth for open source projects" src="/assets/a0-badge-dark.png" /></a>
      </p>
    </main>
  </div>
</div>
